* {
    margin:0;
    padding:0;
    font-family:"Avenir Next","Avenir",sans-serif
    }
    
    body {
    color:#bebebe;
    overflow:auto;
    scroll-snap-type:mandatory;
    scroll-snap-points-y:repeat(100vh);
    scroll-snap-type:y mandatory;
    overflow-x:hidden;
    background-color:#202020
    }
    
    #about_me {
    scroll-snap-align:end
    }
    
    #portfolio {
    scroll-snap-align:end;
    width:100vw;
    height:100vh
    }
    
    #contact {
    scroll-snap-align:end;
    width:100vw;
    height:100vh
    }
    
    #home {
    scroll-snap-align:end;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0
    }
    
    #click {
    position:fixed;
    width:100%;
    height:100%;
    z-index:1000;
    display:none
    }
    
    main {
    position:absolute;
    left:0;
    right:0;
    top:100vh;
    display:flex;
    flex-direction:column
    }
    
    .box {
    position:relative;
    left:50%;
    transform:translate(-50%,0%);
    margin-top:10px;
    padding:10px;
    color:#bebebe;
    text-align:center
    }
    
    .box_title {
    margin-top:50px;
    margin-bottom:20px;
    display:table;
    font-size:50px;
    font-weight:200;
    background-color:#fff;
    color:#222;
    box-shadow:5px 5px 0 #000;
    position:relative;
    left:50%;
    transform:translate(-50%,0%);
    z-index:10
    }
    
    .about_title {
    box-shadow:5px 5px 0 #008fb3
    }
    
    .folio_title {
    box-shadow:5px 5px 0 #9e1800
    }
    
    .box_subtitle {
    font-size:26px;
    font-weight:200;
    z-index:100
    }
    
    .box_text {
    font-weight:200;
    font-size:20px
    }
    
    .devices {
    z-index:-1;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%,0%);
    width:500px;
    height:185px;
    background-image:url(devices.png);
    background-repeat:no-repeat;
    background-size:100% 100%
    }
    
    .back {
    position:fixed;
    top:-1px;
    left:-1px;
    right:-1px;
    bottom:-1px
    }
    
    #canvas {
    position:fixed;
    top:-1px;
    left:-1px;
    right:-1px;
    bottom:-1px;
    filter:blur(1px);
    -webkit-filter:blur(1px)
    }
    
    a {
    text-decoration:none;
    color:#3c3c3c
    }
    
    a:hover {
    color:#9e1800;
    transition:300ms
    }
    
    .welcome_box {
    position:absolute;
    left:10%;
    top:50%;
    transform:translate(0%,-50%);
    text-align:left
    }
    
    #welcome_text {
    font-size:60px;
    font-weight:200;
    color:#222;
    background-color:#fff;
    box-shadow:5px 5px 0 #000;
    transition:250ms
    }
    
    #welcome_text:hover {
    animation:colors 300ms infinite
    }
    
    @keyframes colors {
    0%,100% {
    box-shadow:5px 5px 0 #008fb3
    }
    
    50% {
    box-shadow:5px 5px 0 #9e1800
    }
    }
    
    @-webkit-keyframes colors {
    0%,100% {
    box-shadow:5px 5px 0 #008fb3
    }
    
    50% {
    box-shadow:5px 5px 0 #9e1800
    }
    }
    
    #introduction {
    cursor:pointer;
    position:absolute;
    bottom:35px;
    left:50%;
    transform:translate(-50%,0%)
    }
    
    #introduction_click {
    position:absolute;
    bottom:-140%;
    left:50%;
    transform:translate(-50%,0%);
    width:200px;
    height:60px;
    z-index:5
    }
    
    #introduction::after {
    content:"";
    position:absolute;
    top:140%;
    left:48%;
    width:30px;
    height:2px;
    background:#bebebe;
    transform:rotate(-35deg);
    animation:arrow_move 700ms infinite
    }
    
    #introduction::before {
    content:"";
    position:absolute;
    top:140%;
    right:48%;
    width:30px;
    height:2px;
    background:#bebebe;
    transform:rotate(35deg);
    animation:arrow_move 700ms infinite
    }
    
    @keyframes arrow_move {
    0%,100% {
    top:155%
    }
    
    50% {
    top:190%
    }
    }
    
    @-webkit-keyframes arrow_move {
    0%,100% {
    top:155%
    }
    
    50% {
    top:190%
    }
    }
    
    .skills {
    display:flex;
    flex-direction:column;
    position:relative;
    left:50%;
    transform:translate(-50%,0%);
    text-align:center
    }
    
    .my_tools {
    display:flex;
    flex-direction:row;
    position:relative;
    left:50%;
    transform:translate(-50%,0%);
    width:intrinsic;
    width:-moz-max-content;
    width:-webkit-max-content
    }
    
    .tht {
    margin:0 45px
    }
    
    .logo_box {
    display:flex;
    flex-direction:row;
    width:intrinsic;
    width:-moz-max-content;
    width:-webkit-max-content;
    position:relative;
    left:50%;
    transform:translate(-50%,0%)
    }
    
    .logo {
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    margin:10px;
    transition:300ms
    }
    
    .logo img {
    width:80px;
    height:80px;
    transition:300ms
    }
    
    .logo:hover {
    transform:scale(1.2)
    }
    
    .logo_text {
    width:100%;
    margin-top:10px;
    font-size:20px;
    font-weight:200;
    text-align:center
    }
    
    .contact {
    font-size:28px;
    color:#c2c2c2
    }
    
    .contact img {
    position:relative;
    top:50%;
    transform:translate(0%,30%);
    width:40px;
    height:40px
    }
    
    .center {
    padding:100px
    }
    
    .social_media {
    display:flex;
    flex-direction:row;
    position:relative;
    left:50%;
    transform:translate(-50%,0%);
    width:intrinsic;
    width:-moz-max-content;
    width:-webkit-max-content
    }
    
    .social_media img {
    width:auto;
    height:80px
    }
    
    .social_media a {
    margin:25px
    }
    
    .social_media a:hover {
    transform:scale(1.1)
    }
    
    .project_list {
    display:flex;
    flex-direction:row;
    text-align:right;
    position:absolute;
    bottom:10px;
    left:50%;
    transform:translate(-50%,0%);
    width:intrinsic;
    width:-moz-max-content;
    width:-webkit-max-content;
    z-index:10;
    cursor:pointer
    }
    
    .project_list div {
    font-size:28px;
    font-weight:200;
    margin:30px 20px;
    transition:300ms;
    display:table;
    position: relative; 
    }

    
    .project_list div:hover {
    color:#008fb3;
    }
  
    
    .top_screens {
    display:flex;
    flex-direction:row;
    position:absolute;
    left:-100%;
    transform:translate(-50%,0%);
    transition:500ms
    }
    
    #how_to {
        font-size: 30px;
        font-weight: 200;
        color: rgb(88, 88, 88);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #project_info {
    transition:300ms;
    opacity:0;
    visibility:hidden;
    position:absolute;
    left:0;
    right:0;
    height:100vh;
    bottom:0;
    background-image:url();
    background-repeat:no-repeat;
    background-size:100% 100%;
    z-index:1
    }
    
    #project_info::before {
    content:" ";
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:300px;
    background-image:linear-gradient(#2e2e2e,rgba(0,0,0,0));
    z-index:-1
    }
    
    #project_info::after {
    content:" ";
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:300px;
    background-image:linear-gradient(rgba(46,46,46,0),#0e0e0e);
    z-index:-1
    }
    
    .project_box {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    max-width:50vw;
    font-size:24px;
    font-weight:200;
    opacity:1;
    display:flex;
    flex-direction:column
    }
    
    #project_text {
    font-size:28px
    }
    
    #project_tech {
    margin-top:20px
    }
    
    #github_link {
    opacity:0;
    padding:10px;
    margin-top:20px
    }
    
    #live_link {
    opacity:0;
    padding:10px;
    margin-top:20px
    }
    
    @keyframes pop {
    0%,100% {
    transform:scale(1)
    }
    
    50% {
    transform:scale(1.3)
    }
    }
    
    #l1 {
    animation:pop 300ms;
    animation-delay:150ms;
    animation-play-state:paused
    }
    
    #l2 {
    animation:pop 300ms;
    animation-delay:225ms;
    animation-play-state:paused
    }
    
    #l3 {
    animation:pop 300ms;
    animation-delay:300ms;
    animation-play-state:paused
    }
    
    #l4 {
    animation:pop 300ms;
    animation-delay:375ms;
    animation-play-state:paused
    }
    
    #l5 {
    animation:pop 300ms;
    animation-delay:450ms;
    animation-play-state:paused
    }
    
    #l6 {
    animation:pop 300ms;
    animation-delay:525ms;
    animation-play-state:paused
    }
    
    #l7 {
    animation:pop 300ms;
    animation-delay:600ms;
    animation-play-state:paused
    }
    
    #l8 {
    animation:pop 300ms;
    animation-delay:675ms;
    animation-play-state:paused
    }
    
    #l9 {
    animation:pop 300ms;
    animation-delay:750ms;
    animation-play-state:paused
    }
    
    #l10 {
    animation:pop 300ms;
    animation-delay:825ms;
    animation-play-state:paused
    }
    
    #l11 {
    animation:pop 300ms;
    animation-delay:900ms;
    animation-play-state:paused
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #canvas {
    display:none
    }
    
    main {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    width:100vw
    }
    
    body {
    scroll-snap-type:mandatory;
    overflow-x:hidden
    }
    
    .box {
    display:block;
    margin:0;
    width:100%;
    height:500px;
    position:absolute
    }
    
    #about_me {
    top:0
    }
    
    #portfolio {
    top:100%
    }
    
    #contact {
    top:200%;
    padding-left:100px
    }
    
    #home {
    position:absolute;
    top:0;
    left:0;
    right:0;
    display:block
    }
    
    .welcome_box {
    left:5%
    }
    
    #welcome_text {
    font-size:100px;
    font-weight:200;
    color:#222;
    background-color:#fff;
    box-shadow:5px 5px 0 #000;
    transition:250ms
    }
    
    .my_tools {
    flex-direction:column
    }
    
    .box_text {
    font-size:35px
    }
    
    .box_subtitle {
    font-size:45px
    }
    
    .logo_text {
    font-size:25px
    }
    
    .logo img {
    width:110px;
    height:110px;
    transition:all 300ms ease 0
    }
    
    .project_list {
    max-width:80vw;
    flex-direction:column;
    text-align:center;
    font-size:70px;
    position:absolute;
    top:10px
    }
    
    #project_info {
    height:100px
    }
    
    .social_media {
    margin-top:30%;
    flex-direction:column
    }
    
    .social_media img {
    width:50vw;
    height:auto
    }
    
    .contact {
    font-size:50px
    }
    
    #contact .box_text {
    font-size:40px
    }
    
    .box_title {
    font-size:90px;
    font-weight:200;
    background-color:#fff;
    color:#222;
    box-shadow:10px 10px 0 #000;
    position:relative;
    left:50%;
    transform:translate(-50%,0%);
    z-index:10
    }
    
    .folio_title {
    box-shadow:10px 10px 0 #9e1800
    }
    }