* {
    z-index: 2;
}
body {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5vh;
    color: rgb(14, 14, 14)
}
.landscape_pls {
    display: none
}
@media screen and (orientation:portrait)
{
   * {
       z-index: 1;
   }
   .landscape_pls
   {
       position: fixed;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       padding: 6vw;
       display: flex;
       flex-direction: column;
       background-color: rgb(247, 204, 139);
       z-index: 10;
   }
   .landscape_text {
       position: relative;
       margin-top: 50%;
       left: 50%;
       transform: translate(-50%, 0%);
       font-size: 12vw;
       font-weight: 600
   }
   .landscape_phone {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 230px;
        height: 200px;
   }
}
.lang_box {
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column-reverse;
}
.lang_font {
    position: fixed;
    top: 50%;
    left: 25%;
    margin-left: 5vh;
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: 16vh;
    font-weight: 600;
    text-shadow: 5px 5px 10px #3030305e;
}
.pl_box {
    position: relative;
    height: 30vh;
    width: 48vh;
    margin: 5vh;
    background-image: url(pl_flag_bw.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.596);
    border: 4px solid rgb(0, 0, 0);
}
div.pl_box:hover{
    background-image: url(pl_flag.png);
    transition: 300ms
}
.en_box {
    position: relative;
    height: 30vh;
    width: 48vh;
    margin: 5vh;
    background-image: url(gb_flag_bw.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.596);
    border: 4px solid rgb(0, 0, 0)
}
div.en_box:hover{
    background-image: url(gb_flag.png);
    transition: 300ms
}

.crypto_box {
    width: 49vw;
    height: 80vh;
    margin: 2vh;
    border-radius: 1px;
    box-shadow: 10px 10px 25px rgba(61, 61, 61, 0.438);
    background-color: rgba(255, 255, 255, 0.445);
}
div.crypto_box:hover {
    transform: scale(1.01);
    transition: 300ms
}
.fiat_box {
    width: 49vw;
    height: 80vh;
    margin: 2vh;
    border-radius: 1px;
    box-shadow: 10px 10px 25px rgba(61, 61, 61, 0.438);
    background-color: rgba(255, 255, 255, 0.445);
}
div.fiat_box:hover {
    transform: scale(1.01);
    transition: 300ms
}
.bar {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    height: 1.5vh;
    width: 100%;
}
.indicator {
    height: 100%;
    width: 0;
    position: relative;
    left: 0;
    background-color: rgb(109, 109, 109)
}
.clicked {
    animation: click 300ms
}
@-webkit-keyframes click{
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
}
.text_bottom {
    position: fixed;
    bottom: 3vh;
    font-size: 7vh;
    font-weight: 600;
    left: 50%;
    transform: translate(-50%)
}
.welcome {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.445);
    padding: 2vh;
    box-shadow: 10px 10px 25px rgba(61, 61, 61, 0.438);
}
.w_text {
    font-size: 5vh;
    font-weight: 200;
    text-align: center;
    position: relative;
    padding: 4vh
}
.start {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 4vh;
    font-weight: 600;
    padding: 1vh;
    background-color: rgba(58, 58, 58, 0.281);
    z-index: 100;
    border-radius: 2%;
    box-shadow: 5px 5px 25px rgba(61, 61, 61, 0.438);
}
div.start:hover {
    padding: 1.1vh;
    transition: 200ms;
}
.text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 7vh;
    padding: 5vh;
    text-shadow: 2px 2px 4px rgba(46, 46, 46, 0)
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0.3vh;
    background-color: rgb(39, 39, 39)
}
.footer_text {
    font-size: 2vh;
    color: rgb(201, 201, 201);
}
.sign {
    text-decoration: none;
    color: rgb(201, 201, 201);
}
.end_div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 1%;
    box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.596);
}
.results_box {
    padding: 2vh;
    font-size: 3vh
}
.results {
    padding: 2vh;
    font-size: 3vh;
    font-weight: 600
}
.coinbase {
    background-image: url(coinbase.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 220px;
    height: 50px;
    color: rgba(255, 255, 255, 0);
    border: none;
    position: relative;
    left: 50%;
    transform:translate(-50%, 15%)
}
.coin_radar {
    background-image: url(coinradar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 240px;
    height: 50px;
    position: relative;
    left: 50%;
    transform:translate(-50%, 15%)
}
.btc {
    background-image: url(btc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 190px;
    height: 40px;
    position: relative;
    left: 50%;
    transform:translate(-50%, 15%)
}
@media only screen and (max-device-width : 668px) {
    .end_div {
        margin: 1vh
    }
    .results_box {
        padding: 2vh;
        font-size: 2.5vh
    }
    .results {
        padding: 2vh;
        font-size: 2.5vh;
        font-weight: 600
    }
    .coinbase {
        width: 110px;
        height: 25px;
    }
    .coin_radar {
        width: 120px;
        height: 25px;
    }
    .btc {
        width: 95px;
        height: 20px;
    }
}
.tip_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center
}
.tip_font {
    display: block;
    font-size: 4vh;
    font-weight: 600;
    margin-bottom: 2vh;
    margin-top: 2vh
}
.qr {
    width: 25vw;
    height: 25vw;
    position: relative;
    left: 50%;
    transform:translate(-50%, 0%);
}