* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 10;
}
.top_bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(65, 65, 65, 0.514);
    display: flex;
    flex-direction: row;
    z-index: 10;
}
.logo {
    font-size: 40px;
    font-weight: 400;
    color: rgb(48, 48, 48);
    border: 3px solid rgb(48, 48, 48)
}
.menu_button {
    position: absolute;
    right: 1%;
    top: 20%;
}
.menu_button span:nth-child(1) {
    position: relative;
    top: 0;
    display: block;
    height: 8px;
    width: 50px;
    background-color: rgb(48, 48, 48);
    border-radius: 3px
}
.menu_button span:nth-child(2) {
    position: relative;
    top: 10px;
    display: block;
    height: 8px;
    width: 50px;
    background-color: rgb(48, 48, 48);
    border-radius: 3px
}
.menu_button span:nth-child(3) {
    position: relative;
    top: 20px;
    display: block;
    height: 8px;
    width: 50px;
    background-color: rgb(48, 48, 48);
    border-radius: 3px
}
.menu_button:hover {
    transform: scale(1.1);
    transition: 200ms
}
.create_icon {
    position: fixed;
    top: 100px;
    left: -6px;
    background-image: url(img/edit_icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
    height: 50px;
    width: 50px;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(65, 65, 65, 0.514)
}
.create_icon:hover  {
    transform: scale(1.05);
    left: -2px;
    transition: 300ms
}
.block_creator {
    position: fixed;
    top: 180px;
    left: -200px;
    height: max-content;
    text-align: center;
    
}
.block_creator li {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
.block_creator button {
    width: 200px;
    padding: 4px 6px 4px 10px;
    font-size: 18px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgba(136, 136, 136, 0.651);
    border-right: 4px solid rgb(48, 48, 48);
    border-radius: 2px;
}
.block_creator button:hover {
    transform: scale(1.05);
    transition: 300ms
}
#side_block_button {
    display: none;
}
#side_data_button {
    display: none;
}
.instruction_box {
    visibility: hidden;
    width: 180px;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(177, 177, 177, 0.541);
    box-shadow: 3px 3px 10px rgba(136, 136, 136, 0.651);
}
.menu {
    position: fixed;
    right: -200px;
    top: 70px;
    width: max-content;
    text-align: center;
    background-color: #fff;
    margin-top: 2px;
    padding: 10px;
    box-shadow: 0px 10px 15px rgba(136, 136, 136, 0.651);
}
.menu li {
    padding: 10px 15px 10px 15px
}
.menu_font {
    font-size: 22px;
    font-weight: 500;
}
.menu li:hover {
    transform: scale(1.05);
    transition: 200ms
}
footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 10px -2px 15px rgba(136, 136, 136, 0.651);
    background-color: #fff
}
.footer_text {
    font-size: 14px;
    font-weight: 100;
    color: rgb(48, 48, 48);
}
.sign {
    text-decoration: none;
    color: rgb(48, 48, 48);
}
.info_box {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100%;
    top: -100%;
    background-color: rgba(224, 224, 224, 0.589);
    border-bottom: 1px solid #000;
    z-index: 1;
}
.info_text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60vw;
    height: 50vh;
    font-size: 22px;
    text-align: left;
    transform: translate(-50%, -50%);
    white-space: pre-line;
}
#chains {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: fixed;
    top: 70px;
    bottom: 20px;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#blocks {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#side_blocks {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 100px;
    overflow: visible;
    width: max-content
}
.block {
    z-index: 1;
    display: inline-block;
    height: 200px;
    min-width: 240px;
    border: 4px solid #000;
    background-color: #fff;
    padding:  0 10px 10px 10px;
    font-size: 16px;
    position: relative;
    top: 40%;
    transform: translate(0%, -50%);
    margin: 15px 0 15px 30px;
    animation: pop_block 300ms
}
@keyframes pop_block {
    0%, 100% {
        transform: scale(1) translate(0%, -50%)
    }
    50% {
        transform: scale(0.9) translate(0%, -50%)
    }
}
@-webkit-keyframes pop_block {
    0%, 100% {
        transform: scale(1) translate(0%, -50%)
    }
    50% {
        transform: scale(0.9) translate(0%, -50%)
    }
}
.block:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 100%;
    width: 0px;
    height: 5px;
    background: #000;
    animation: conection 500ms;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
}
@keyframes conection {
    0% {
        width: 0px;
    }
    100% {
        width: 38px;
    }
}
@-webkit-keyframes conection {
    0% {
        width: 0px;
    }
    100% {
        width: 38px;
    }
}
#block0.block::after {
    visibility: hidden;
}
@keyframes conection_2 {
    0% {
        width: 0px;
    }
    100% {
        width: 30px;
    }
}
@-webkit-keyframes conection_2 {
    0% {
        width: 0px;
    }
    100% {
        width: 30px;
    }
}
#side_block1.block:after {
    content: "";
    position: absolute;
    left: -13%;
    top: 50%;
    width: 0px;
    height: 5px;
    background: #000;
    animation: conection_2 500ms;
    animation-delay: 700ms;
    animation-fill-mode: forwards;
}
#side_block1.block::before {
    content: "";
    position: absolute;
    left: -80%;
    top: 16%;
    width: 0px;
    height: 5px;
    background: #000;
    transform: rotate( 45deg);
    animation: side_conection 600ms;
    animation-fill-mode: forwards;
}
@-webkit-keyframes side_conection {
    0% {
        width: 0px;
        transform: rotate( 45deg);
    }
    100% {
        width: 205px;
        transform: rotate( 45deg);
    }
}
.block div {
    margin: 5px
}
.block_part {
    font-size: 12px
}
.block_index {
    position: relative;
    top: -20px;
    width: max-content;
    padding: 0 5px;
    background-color: #fff;
}
#zoom_out {
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 45px;
    height: 45px;
    background-image: url(img/zoom_out.png);
    background-size: 100% 100%;
    background-repeat: no-repeat 
}
#zoom_in {
    position: fixed;
    bottom: 20px;
    right: 0px;
    width: 45px;
    height: 45px;
    background-image: url(img/zoom_in.png);
    background-size: 100% 100%;
    background-repeat: no-repeat 
}
#zoom_out:hover {
    transition: 300ms;
    transform: scale(1.1)
}
#zoom_in:hover {
    transition: 300ms;
    transform: scale(1.1)
}
#data {
    position: fixed;
    z-index: 1;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(78, 78, 78, 0.582);
    flex-direction: column
}
#block_data {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 250px;
    height: 40px;
    border: none;
    box-shadow: 0px 10px 15px rgba(65, 65, 65, 0.514);
    font-size: 100%;
    padding: 3px;
    text-align: center
}
#submit_data {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    border: none;
    box-shadow: 0px 10px 15px rgba(65, 65, 65, 0.514);
    font-size: 100%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center
}
#multi_block {
    position: fixed;
    z-index: 1;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(78, 78, 78, 0.582);
    flex-direction: column
}
#block_multiplier {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50px;
    height: 40px;
    border: none;
    box-shadow: 0px 10px 15px rgba(65, 65, 65, 0.514);
    font-size: 100%;
    padding: 3px;
    text-align: center
}
#submit_multi {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    border: none;
    box-shadow: 0px 10px 15px rgba(65, 65, 65, 0.514);
    font-size: 100%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center
}
.merge_conector {
    display: inline-block;
    position: relative;
    top: 46%;
    transform: translate(0%, -50%);
    width: 0px;
    height: 5px;
    background: #000;
}
.merge_class {
    display: inline-block;
    position: relative;
    top: 46%;
    transform: translate(0%, -50%);
    width: 0px;
    height: 5px;
    background: #000;
}
.side_merge::before {
    content: "";
    position: relative;
    right: 0;
    top: 16%;
    width: 100px;
    height: 5px;
    background: #000;
    transform: rotate( -45deg);
}

