html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    height: 100%;
    line-height: 1;
    margin: 0;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 0;
}

.back_img {
    background-image: url(car_back.png);
    background-size: 100vw 100vh; 
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.top_bar {
    width: 100%;
    background-color: rgba(47, 46, 46, 0.911);
    height: 50px;
    position: fixed;
    top: 0px;
    z-index: 999;
}
.top_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 515px;
    height: 50px;
    margin: 0 auto
}
.top_button {
    display: block;
    margin: 5px
}

.button-text {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
.mid_logo {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20%
}
.text_logo {
    font-size: 60px;
    color: #fff;
    display: block;
    margin: 0 auto
}
.text_logo_s {
    font-size: 20px;
    color: #fff;
    display: block;
    margin: 0 auto;
}
.img_logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 70%
}  
.social_button {
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    margin: 0 5px
}
.social_text {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.social_text_face {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 5px
}
.photo_img {
    height: 25px;
    width: auto
}

.services {
    min-width: 320px;
    max-width: 1260px;
    width: 100%;
    height: 500px;
    position: relative;
    top: 75vh;
    background-color: #000;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    width: 150px;
    text-align: center;
    position: relative;
    top:0px
}
.box_image {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto
}
.box_title {
    font-size: 20px;
    color: #fff;
    margin: 10px 0 10px 0
}
.box_content {
    font-size: 15px;
    color: #fff
}
.box_big_title {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 65px
}

.box_big_title .services_hover::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 0.1em;
    top: auto;
    right: 40%;
    bottom: -5px;
    left: 40%;
    transition: 0.5s all;
}

.box_big_title .services_hover:hover::after {
    left: 0;
    right: 0;
}

.our_work {
    min-width: 320px;
    max-width: 1260px;
    width: 100%;
    height: 400px;
    position: relative;
    top: 75vh;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hoverwork{
    font-size: 40px;
    color: #000;
    position: absolute;
    top: 65px
}
.hoverwork .work_title::after {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 0.1em;
    top: auto;
    right: 40%;
    bottom: -5px;
    left: 40%;
    transition: 0.5s all;
}

.hoverwork .work_title:hover::after {
    left: 0;
    right: 0;
}
.work_box {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    width: 150px;
    text-align: center;
    position: relative;
    top:0px
}
.work_img {
    width: 150px;
    height: auto;
    display: block;
}
.img_title {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 10px 0 10px 0
}

.about {
    min-width: 320px;
    max-width: 1260px;
    width: 100%;
    height: 500px;
    position: relative;
    top: 75vh;
    background-color: rgba(173, 173, 173, 0.678);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_section {
    background-color: #fff;
    width: 600px;
    height: 400px;
    padding: 15px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_content {
    font-size: 20px;
    color: rgb(0, 0, 0);
    display: block;
    margin-top: 20px;
    text-align: center
}
.about_box{
    font-size: 40px;
    color: #000;
    display: block;
    position: relative;
}
.about_box .about_title::after {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 0.1em;
    top: auto;
    right: 40%;
    bottom: -5px;
    left: 40%;
    transition: 0.5s all;
}

.about_box .about_title:hover::after {
    left: 0;
    right: 0;
}

.empty {
    min-width: 320px;
    max-width: 1260px;
    width: 100%;
    height: 500px;
}

.form {
    min-width: 320px;
    max-width: 1260px;
    width: 100%;
    height: 800px;
    background-color: rgba(47, 46, 46, 0.911);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.find{
    font-size: 40px;
    color: #000;
    display: block;
    position: absolute;
    top: 25px
}
.find .find_title::after {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 0.1em;
    top: auto;
    right: 40%;
    bottom: -5px;
    left: 40%;
    transition: 0.5s all;
}

.find .find_title:hover::after {
    left: 0;
    right: 0;
}
.find_us {
    background-color: #fff;
    width: 600px;
    height: 400px;
    padding: 15px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px
}
.find_img {
    display: block;
    position: relative;
    top:60px
}
.left_side {
    display: block;
    width: 300px;
    position: relative;
    top: 30px
}
.data {
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}
.right_side {
    display: block;
    width: 300px;
    position: relative;
    top: 30px
}
.sender {
    background-color: #000000;
    border: none;
    height: 30px;
    width: 250px;
    color: #ffffff;
    font-size: 15px;
    margin:10px 50px;
}
.input_box {
    height: 20px;
    width: 250px;
    background-color: #ffffff;
    outline: none;
    border: 1px solid #000;
    margin:10px 50px;
    border-radius: 2%
}

.input_big {
    height: 100px;
}
input, select, textarea{
    color: rgb(47, 46, 46);
    font-size: 16px;
    padding: 2px
}
.mail_href {
    text-decoration: none;
    color: #000
}
.icon {
    display: inline;
    width: 20px;
    height: 15px;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #000;
    text-align: center
}
.social_button_f {
    background-color: rgb(92, 92, 92);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    margin: 10px 5px
}
.social_button_f:hover {
    transform: scale(1.07);
    transition: 300ms
}
.social_f {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}  
.bar {
    width: 50%;
    height: 1px;
    background-color: rgb(92, 92, 92);
    margin: 0 25% 5px 25%
}
.signature {
    font-size: 12px;
    color: rgb(124, 124, 124);
}
.photo_img_f {
    height: 15px;
    width: auto
}
.social_text_face_f {
    font-size: 21px;
    color: rgb(0, 0, 0);
    font-weight: 600
}