@-webkit-keyframes bird {
    0% , 100% {
        transform: rotate(0deg)
    }
    50% { 
        transform: rotate(-45deg)
    }
}
@-webkit-keyframes life_change {
    0%, 100% {
        top: 10px;
    }
    50% {
        top: -10px;
    }
}
.added_point {
    animation: pulse_green 1200ms
}
.taken_point {
    animation: pulse_red 1200ms
}
@-webkit-keyframes pulse_red {
    0%, 100% {
        color: #000
    }
    10%, 90% {
        color: rgb(145, 0, 0);
        transform: scale(1.2)
    }
}
@-webkit-keyframes pulse_green {
    0%, 100% {
        color: #000
    }
    10%, 90% {
        color: rgb(0, 190, 25);
        transform: scale(1.2)
    }
}
.tup_tup {
    background-image: url(tup_tup.png);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    width: 90px;
    height: 40px;
    position: fixed;
    left: 80px;
    z-index: 9999;
    animation: tup 500ms infinite;
    visibility: hidden;
}
@-webkit-keyframes tup {
    0%, 50%, 100% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(4deg)
    }
    75% {
        transform: rotate(-4deg)
    }
}
.instruction {
    background-image: url(buttons/instruction.png);
    background-color: rgba(0, 0, 0, 0);
    width: 1280px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: pulse 2500ms
}
@-webkit-keyframes pulse {
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
