
.dwarf {
    background-image: url(clothes/art.png);
    width: 150px;
    height: 240px;
    background-size: 150px 240px;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 10;
}
.y_button {
    background-image: url(buttons/y_button.png);
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 250px;
    left: 370px;
    z-index: 2;
}
button.y_button:hover {
    background-image: url(buttons/y_button_g.png)
}
.creation_background {
    width: 440px;
    height: 310px;
    border: 6px solid #000;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.weapon_background {
    width: 440px;
    height: 310px;
    border: 6px solid #000;
    background-color: #fff;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
}

.head_button {
    background-image: url(buttons/head_button.png);
    width: 88px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 50px;
    left: 250px;
    z-index: 2;
}
button.head_button:hover {
    background-image: url(buttons/head_button_y.png)
}
.rainbow_head {
    background-image: url(clothes/rainbow.png);
    width: 70px;
    height: 60px;
    background-size: 70px 60px;
    position: fixed;
    top: 10px;
    left: 90px 
}
.hut_head {
    background-image: url(clothes/hut.png);
    width: 90px;
    height: 50px;
    background-size: 90px 50px;
    position: fixed;
    top: 20px;
    left: 80px 
}
.beats_head {
    background-image: url(clothes/beats.png);
    width: 90px;
    height: 60px;
    background-size: 90px 60px;
    position: fixed;
    top: 30px;
    left: 80px 
}


.beard_button {
    background-image: url(buttons/beard_button.png);
    width: 108px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 100px;
    left: 250px;
    z-index: 2;
}
button.beard_button:hover {
    background-image: url(buttons/beard_button_y.png)
}
.beard_dark {
    background-image: url(clothes/beard_dark.png);
    width: 70px;
    height: 40px;
    background-size: 70px 40px;
    position: fixed;
    top: 90px;
    left: 90px ;
    z-index: 10;
}
.beard_green {
    background-image: url(clothes/beard_green.png);
    width: 70px;
    height: 40px;
    background-size: 70px 40px;
    position: fixed;
    top: 90px;
    left: 90px ;
    z-index: 10;
}
.beard_light {
    background-image: url(clothes/beard_light.png);
    width: 70px;
    height: 40px;
    background-size: 70px 40px;
    position: fixed;
    top: 90px;
    left: 90px ;
    z-index: 10;
}
.beard_brown {
    background-image: url(clothes/beard_brown.png);
    width: 70px;
    height: 40px;
    background-size: 70px 40px;
    position: fixed;
    top: 90px;
    left: 90px;
    z-index: 10;
}


.shirt_button {
    background-image: url(buttons/s_button.png);
    width: 100px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 150px;
    left: 250px;
    z-index: 2;
}
button.shirt_button:hover {
    background-image: url(buttons/s_button_y.png)
}
.shirt_blue {
    background-image: url(clothes/shirt_blue.png);
    width: 130px;
    height: 90px;
    background-size: 130px 90px;
    position: fixed;
    top: 110px;
    left: 60px 
}
.shirt_pink {
    background-image: url(clothes/shirt_pink.png);
    width: 130px;
    height: 90px;
    background-size: 130px 90px;
    position: fixed;
    top: 110px;
    left: 60px 
}
.shirt_green {
    background-image: url(clothes/shirt_green.png);
    width: 130px;
    height: 90px;
    background-size: 130px 90px;
    position: fixed;
    top: 110px;
    left: 60px 
}
.shirt_yellow {
    background-image: url(clothes/shirt_yellow.png);
    width: 130px;
    height: 90px;
    background-size: 130px 90px;
    position: fixed;
    top: 110px;
    left: 60px 
}


.trousers_button {
    background-image: url(buttons/t_button.png);
    width: 164px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 200px;
    left: 250px;
    z-index: 2;
}
button.trousers_button:hover {
    background-image: url(buttons/t_button_y.png)
}
.trousers_gray {
    background-image: url(clothes/t_gray.png);
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
    position: fixed;
    top: 190px;
    left: 90px 
}
.trousers_dark {
    background-image: url(clothes/t_dark.png);
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
    position: fixed;
    top: 190px;
    left: 90px 
}
.trousers_brown {
    background-image: url(clothes/t_brown.png);
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
    position: fixed;
    top: 190px;
    left: 90px 
}
.trousers_orange {
    background-image: url(clothes/t_orange.png);
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
    position: fixed;
    top: 190px;
    left: 90px 
}


.shoes_button {
    background-image: url(buttons/shoes_button.png);
    width: 108px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 250px;
    left: 250px;
    z-index: 2;
}
button.shoes_button:hover {
    background-image: url(buttons/shoes_button_y.png)
}
.shoes_dark {
    background-image: url(clothes/shoes_dark.png);
    width: 90px;
    height: 40px;
    background-size: 90px 40px;
    position: fixed;
    top: 250px;
    left: 80px 
}
.shoes_gold {
    background-image: url(clothes/shoes_gold.png);
    width: 90px;
    height: 40px;
    background-size: 90px 40px;
    position: fixed;
    top: 250px;
    left: 80px 
}
.shoes_red {
    background-image: url(clothes/shoes_red.png);
    width: 90px;
    height: 40px;
    background-size: 90px 40px;
    position: fixed;
    top: 250px;
    left: 80px 
}
.shoes_green {
    background-image: url(clothes/shoes_green.png);
    width: 90px;
    height: 40px;
    background-size: 90px 40px;
    position: fixed;
    top: 250px;
    left: 80px 
}

.burn_button {
    background-image: url(buttons/burn_button.png);
    width: 144px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 100px;
    left: 80px;
    z-index: 25;
}
button.burn_button:hover {
    background-image: url(buttons/burn_button_r.png);
}
.shot_button {
    background-image: url(buttons/shot_button.png);
    width: 144px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 200px;
    left: 80px;
    z-index: 25;
}
button.shot_button:hover {
    background-image: url(buttons/shot_button_r.png);
}
.burn_img {
    background-image: url(weapons/flamethrower.png);
    width: 144px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 30;
    position: fixed;
    top: 100px;
    left: 260px;
}
.shoot_img {
    background-image: url(weapons/minigun-kopia.png);
    width: 144px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 30;
    position: fixed;
    top: 200px;
    left: 260px;
    border: none;
}

.flamethrower {
    background-image: url(weapons/flamethrower.png);
    width: 144px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 30;
    position: fixed;
    top: 145px;
    left: 60px;
}
.minigun {
    background-image: url(weapons/minigun-kopia.png);
    width: 200px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 30;
    position: fixed;
    top: 145px;
    left: 10px;
}
.minigun_2 {
    background-image: url(weapons/minigun.png);
    width: 200px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 30;
    position: fixed;
    top: 145px;
    left: 10px;
}
.play_button {
    background-image: url(buttons/play_button.png);
    width: 144px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 200px;
    left: 260px;
    z-index: 25;
}
button.play_button:hover {
    background-image: url(buttons/play_button_o.png);
}
.manual {
    background-image: url(manual.png);
    width: 208px;
    height: 92px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 70px;
    left: 235px;
}
.terrain {
    background-image: url(playground/ground.png);
    width: 101vw;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0px;
    left: 0vw;
    z-index: 10;
}
.terrain_2 {
    background-image: url(playground/ground.png);
    width: 101vw;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0px;
    left: 100vw;
    z-index: 10;
}
.sky {
    background-image: url(playground/sky.png);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 60px;
    left: 0px;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    z-index: 1;
}


.empty_fire {
    visibility: hidden;
    width: 144px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 30;
    position: relative;
    left: 150px;
}
.minigun_shot {
    background-image: url(weapons/mini_shot.gif);
    visibility: visible;
    width: 200px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 30;
    position: relative;
    left: 160px
}
.flamethrower_shot {
    background-image: url(weapons/flamethrower_shot.gif);
    visibility: visible;
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 30;
    position: relative;
}

.start_cover {
    background-color: rgba(0, 0, 0, 0.596);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999;
}
.start_button {
    background-image: url(buttons/start_button.png);
    background-color: rgba(0, 0, 0, 0);
    width: 396px;
    height: 132px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

button.start_button:hover {
    background-image: url(buttons/start_button_h.png);
    background-color: rgba(0, 0, 0, 0);
    width: 396px;
    height: 132px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.tree {
    background-image: url(playground/brown_tree.png);
    width: 135px;
    height: 152px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: relative;
    bottom: 0px;
    right: 0px;
    z-index: 10000;
}
.tree_flamed {
    background-image: url(playground/brown_tree_flamed.gif);
    width: 135px;
    height: 152px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: relative;
    bottom: -10px;
    right: 0px;
    z-index: 10000;
}
.tree_egzecution {
    background-image: url(playground/tree_egzecution.gif);
    width: 135px;
    height: 152px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: relative;
    bottom: 0px;
    right: 0px;
    z-index: 10000;
}
.tree_shot {
    background-image: url(playground/tree_shot.png);
    width: 135px;
    height: 152px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: relative;
    bottom: 0px;
    right: 0px;
    z-index: 10000;
}

.obs {
    position: fixed;
    bottom: 77px;
    right: -190px;
    z-index: 9999;
}
.duck {
    background-image: url(playground/gray_duck.png);
    width: 56px;
    height: 52px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: relative;
    bottom: -5px;
    right: -35px;
    z-index: 10000;
    -webkit-animation: bird 2000ms infinite;
    animation: bird 2000ms infinite;
}

.legs {
    background-image: url(playground/gray_legs.png);
    width: 18px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: relative;
    bottom: 0px;
    right: -60px;
    z-index: 10000;
}

.duck_blue {
    background-image: url(playground/blue_duck.png);
    width: 56px;
    height: 52px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: relative;
    bottom: -5px;
    right: -35px;
    z-index: 10000;
    -webkit-animation: bird 2000ms infinite;
    animation: bird 2000ms infinite;
}

.legs_blue {
    background-image: url(playground/blue_legs.png);
    width: 18px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    position: relative;
    bottom: 0px;
    right: -60px;
    z-index: 10000;
}
.score_tab {
    display: flex;
    flex-direction: row;
}
.life {
    display: inline-block;
    background-image: url(life.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    margin: 0px 5px;
    z-index: 9999;
    border-style: none 
}
.life_gray {
    display: inline-block;
    background-image: url(life_gray.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    margin: 0px 5px;
    z-index: 9999;
    border-style: none ;
    animation: life_change 1000ms
}
.game_over {
    background-image: url(buttons/game_over.png);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    width: 460px;
    height: 380px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 20px;
    z-index: 99999;
    border-style: none 
}
.play_again {
    background-image: url(buttons/play_again.png);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    width: 115px;
    height: 95px;
    left: 50%;
    margin: 20px;
    bottom: 10px;
    transform: translate(-50%, 0%);
    margin: 20px;
    z-index: 99999;
    border-style: none 
}
.game_over_back {
    background-color: rgba(88, 0, 0, 0.76);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 99990;
    display: flex;
    flex-direction: column;
    padding: 10%
}
.score_font {
    position: fixed;
    right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: 800;
    z-index: 9999;
}

